html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
    overscroll-behavior: none;
    overflow: hidden;
}

html {
    touch-action: none;
    -webkit-overflow-scrolling: touch;
}

body {
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

/**
 * Interface
 */
.interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: 'Bebas Neue', cursive;
    z-index: 10;
    touch-action: none;
    overflow: hidden;
}

/**
 * Time
 */
.time
{
    position: absolute;
    top: 2.5%;
    left: 37.5%;
    width: 25%;
    color: #ffffff;
    font-size: 6vh;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

/**
 * Restart
 */
.restart
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    color: #ffffff;
    font-size: 10vh;
    background: #00000033;
    text-align: center;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 768px) {
    .time {
        font-size: 4vh;
        width: 40%;
        left: 30%;
    }
    .restart {
        font-size: 6vh;
        width: 50%;
        left: 25%;
    }
}


/**
 * Controls
 */
.controls
{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    pointer-events: auto;
    touch-action: none;
}

.controls .raw
{
    display: flex;
    justify-content: center;
}

.controls .key
{
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
    pointer-events: auto;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.controls .key.large
{
    width: 144px;
    pointer-events: auto;
}

.controls .key.active
{
    background: #ffffff99;
}